.hello {
    color: red;
    background: url('./twilight.jpg');
    font-family: 'MyFont';
  }


  @font-face {
    font-family: 'MyFont';
    src: url('./roboto.woff'),
      url('./roboto.woff2');

    font-weight: 600;
    font-style: normal;
  }